{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}
<!-- Login Section -->
<div class="container">
    <div class="row" id="login-part">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>
            <p>{% blocktrans %}Welcome back to the Movie Wars Blog. To add a post, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <!-- Allauth Sign In Form -->
    <div class="row" id="sign-part">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}