{% extends "base.html" %}
{% block title %}Logout{% endblock %}

{% load i18n %}


{% block content %}
<!-- Logout Section -->
<div class="container">
    <div class="row" id="login-part">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>{% trans "Logout" %}</h1>
            <h3>{% trans 'Are you sure you want to logout of your account?' %}</h3>
        </div>
    </div>
    <!-- Allauth Logout Form -->
    <div class="row" id="sign-part">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}