@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
  }

nav {
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
  }

#blog-title {
    margin-top: 50px;
}

#blog-header-image {
    margin-top: 25px;
    margin-bottom: 25px;
}

.read-more {
    margin-top: 10px;
}

#home-title a {
    color: black;
}

#home-title a:hover {
    color: grey;
    text-decoration: none;
}

#edit-buttons {
    margin-bottom: 15px;
}

#author-date {
    margin-bottom: 20px;
    font-weight: 400;
}

#pag-button {
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

#main-details {
    margin-bottom: 100px;
}

#login-part {
    margin-top: 50px;
    text-align: center;
}

#sign-part {
    text-align: center;
}

#delete-buttons {
    margin-top: 20px;
}