{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}

{% block content %}
<!-- Delete Posts Section -->
{% if request.user.is_superuser %}
<div id="page-top">
    <h1>Delete Post</h1>
    <h3>Are you sure you want to delete the following post: {{ post.title }}?</h3>
    <!-- Delete Posts Form -->
    <div class="form-group" id="delete-buttons">
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock%}